@import '../../Style/color.scss';
@import '../../Style/breakpoints.scss';


// .project-display

.project-display{
    width : 100%;
    display : flex;
    flex-wrap : wrap;
    overflow : hidden;
}

.project-display > div{
    width : 100%;
}

.loadingPage {
    position: absolute;
    width: 100%;
    height: 100%;
    background : #fff;
}
