@import '../../Style/color.scss';
@import '../../Style/breakpoints.scss';


// .project-display

.project-display{
    width : 100%;
    display : flex;
    flex-wrap : wrap;
    overflow : hidden;
}

.project-display > div{
    width : 100%;
}

// .search-bar

.search-bar {
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0 5rem 0;
}

.search-bar > .bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar > div > input {
    background : $light-grey;
    border: none;
    border-radius: 15px;
    width: 35%;
    padding : 1rem 1rem 1rem 1rem;
    font-size: 1.4rem;
}

.search-bar > div > input:focus {
    outline : none;
    background : $light-grey-hover;
    transition: 0.5s;
}

.search-bar > div > .exit-cross {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.6rem;
    border-radius: 10px;
    background: $red;
    margin-left: 1rem;
    transition: 0.5s;
}

.search-bar > div > .exit-cross:hover {
    background : $red-hover;
    transform: scale(1.05);
    cursor: pointer;
}

.search-bar-buttons > div {
    display: flex;
    flex-direction: row;
}

.search-bar-buttons > p{
    margin-top : 1rem;
    margin-left: 0.2rem;
    color : $red;
}

.search-bar-buttons > div > button {
    padding : 0.8rem 1.6rem 0.8rem 2rem;
    margin : 0.5rem 1rem 1rem 0;
    font-size: 0.8rem;
    
    border-radius: 10px;
    display: flex;
}

.search-bar-buttons > div > button > div {
    margin-left: 0.5rem;
    height: 10px;
    width: 10px;
}

.button-selected {
    border : solid 1px $red;
    background : $red;
    color : #fff;
}

.button-unselected {
    border : solid 1px $grey;
}

// .research-result

.research-result > div > .not-found {
    background : $light-grey;
    margin: auto;
    width: 80%;
    height: 15vh;
    min-height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 0;
}

.research-result > div > .research-head {
    margin-top : 2rem;
    margin-bottom : 1rem;
}

.search-bar > .exit-cross:hover {
    cursor: pointer
}

// .dedicated-page

.dedicated-page {
    display : flex;
    flex-wrap : wrap;
    width: 100%;
    padding-top: 1rem;
}
.dedicated-page-head, .research-head {
    width: 78%;
    margin: auto;
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.dedicated-page-head button {
    height: 1.5rem;
    border-radius: 2em;
    padding: 0 1.2rem 0 1.2rem;
    margin-left: 1rem;
}
.dedicated-page-head > h1 {
    color : $red;
    text-transform: uppercase;
}
.list-of-projects {
    width: 100%
}
 .project-by-four {
    width : 80%;
    margin : auto;
}
@media screen and (max-width: $tablet) {
    .dedicated-page-head , .research-head{
        width: 86%;
    }
     .project-by-four {
        width : 90%;
    }
}

.loadingPage {
    position: absolute;
    width: 100%;
    height: 100%;
    background : #fff;
}
