@import '../../../Style/color.scss';
@import '../../../Style/breakpoints.scss';


.rows-projects {
    width: 100%;
    margin-bottom: 1rem;
}

.rows-projects > div{
    position: relative;
}

.row-title {
    display: flex;
}

.row-title > button {
    height: 1.5rem;
    border-radius: 2em;
    padding: 0 1.2rem 0 1.2rem;
    margin-left: 1rem;
}

.rows-projects > .row-title > h2 {
    margin-left: 11%;
    margin-bottom: 10px
}
@media screen and (max-width: $tablet) {
    .rows-projects > .row-title > h2 {
        margin-left: 8%;
        margin-bottom: 20px
    }
}
@media screen and (max-width: $phone) {
    .rows-projects > .row-title > h2 {
        margin-left: 9%;
    }
}

.rows-projects > div > .left{
    float: left;
}
.rows-projects > div > .right{
    float: right;
}

.rows-projects > div > .left, .rows-projects > div > .right {
    position: relative;
    z-index: 5;
    margin: 4vw 8% 0 8%;
    background: $red;
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    box-shadow: 3px 6px 19px -12px rgba(0,0,0,0.1);
    transition : 0.5s ease;
}
.rows-projects > div > .left:hover, .rows-projects > div > .right:hover {
    background : $red-hover;
}


@media screen and (min-width: $tablet) {
    .project-by-four {
        width: 80%;
        position: absolute;
        transition: 1s;
    }
}
@media screen and (max-width: $tablet) {
    .project-by-four {
        width: 90%;
        margin: auto;
    }
}

.project-by-four {
    
    display: flex;
}
