@import '../../../Style/color.scss';


.rows-projects {
    width: 100%;
    margin-bottom: 3rem;
}

.rows-projects > div{
    position: relative;
}

.rows-projects > h2 {
    margin-left: 11%;
    margin-bottom: 10px
}

.rows-projects > div > .left{
    float: left;
}
.rows-projects > div > .right{
    float: right;
}

.rows-projects > div > button {
    position: relative;
    z-index: 5;
    margin: 4vw 8% 0 8%;
    background: $red;
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    box-shadow: 3px 6px 19px -12px rgba(0,0,0,0.1);
}

.rows-projects > div > button:hover {
    cursor: pointer;
}

.rows-projects > div > button:focus {
    outline: none;
}

.project-by-four {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    transition: 1s;
}