@import '../../../Style/color.scss';
@import '../../../Style/breakpoints.scss';

.student-preview {
    font-size: 0.8rem;
    background: #fff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem 0 0.5rem 0;
    border-radius: 2rem;
    transition: 0.5s ease;
}

.student-preview > span {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
    border-radius: 1rem;
}

.student-preview:hover {
    cursor: pointer;
    background: $pink;
}
.student-preview > .links > a {
    padding : 0.3rem 1.2rem 0.3rem 1.2rem;
    margin : 0 0.2rem 0 0.2rem;
    background: $pink;
    border-radius: 1rem;
    border : solid 1px #fff;
    color : #fff;
    text-decoration : none;
}
.student-preview > .links > a:hover{
    cursor: pointer;
    background: $red;
}

@media screen and (min-width : $phone) and (max-width : $tablet) {
    .student-preview {
        margin: 0.5rem 0.4rem 0.5rem 0.4rem;
    }
}
