@import '../../../Style/color.scss';
@import '../../../Style/breakpoints.scss';

.focus-on-project-container{
    height: 0;
    overflow: hidden;
    transition: 0.5s ease;
    position: relative;
    margin-bottom: 1rem;
}

.focus-on-projetc-exit {
    position: absolute;
    height: 20px;
    width: 20px;
    right : 0;
    margin-top: 20px;
    margin-right: 20px;
}
.focus-on-projetc-exit:hover {
    cursor: pointer;
}

.focus-on-project {
    background : $light-grey;
    height: 250px;
    margin-bottom: 1rem;
    inset : 0px 0px 20px rgba(0,0,0,1);
    display: flex;
    padding: 25px 5% 25px 5%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.focus-on-project > section, .focus-on-project > figure {
    height: 15vw;
}

.focus-on-project > figure {
    margin: 0;
    width: 27%;
    background: #fff;
    border: 1px solid $grey;
    border-radius: 12px;
}

.focus-on-project > .focus-project-description {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.focus-on-project > .focus-project-description > div {
    display: flex;
    justify-content: space-between;
}
.focus-project-text {
    flex-direction: column;
}

.focus-on-project > .focus-project-description > div > a {
    height: 1.8rem;
    border-radius: 0.9rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8rem;
    width: 50%;
    margin:0 1% 0 1%;
}

.focus-on-project > .focus-project-description > div > h2{
    margin-bottom: 0.5rem;
}

.focus-on-project > .focus-project-description > div > p{
    font-size: 0.8rem;
}

.focus-on-project > .focus-students {
    width: 20%;
}

.focus-on-project > .focus-students > p {
    color : $red;
    margin-bottom: 0.2rem;
}

.focus-on-project > .focus-students > div {
    height: 18px;
}

.focus-on-project > .focus-students > section {
    display: flex;
    flex-direction: column;
    height: 150px;
    position: relative;
    overflow: hidden;
}
.focus-on-project > .focus-students > section > div {
    position: absolute;
    width: 100%;
    transition: 0.7s ease;
}

.focus-on-project > .focus-students > div > div {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.5s;
    margin: auto;
}

.focus-on-project > .focus-students > div > div:hover {
    background: $light-grey-hover;
    cursor:pointer;
    
}
@media screen and (max-width : $phone) {

    .focus-on-project {
        height :750px;
        flex-direction: column;
        justify-content: flex-start;
    }
    .focus-on-project > figure, .focus-on-project > .focus-project-description {
        width: 90%;
        margin: auto;
        margin : 0;
    }
    .focus-on-project > figure {
        width: 90%;
        height: 45vw;
        margin : 2rem 0 1rem 0;
    }
    .focus-on-project > .focus-project-description {
        justify-content: flex-start;
        height: auto;
    }
    .focus-on-project > .focus-project-description > .focus-project-text {
        margin-bottom: 30px;
    }
    .focus-on-project > .focus-project-description > .focus-project-buttons {
        flex-direction: column;
    }
    .focus-on-project > .focus-project-description > .focus-project-buttons > a{
        margin : auto;
        width: 80%;
        margin-bottom: 10px;
    }
    .focus-on-project > .focus-students {
        margin-top: 20px;
        width: 90%;
    }
}