@import './Style/color.scss';

* {
    color : $typ-grey;
}

h2 {
    color : $red;
    font-size: 1.2rem;
    text-transform: uppercase;
}


// Buttons

.outline-button {
    background : #fff;
    color : $red;
    padding : 0 1.5rem 0 1.5rem;
    border : solid 1px $red;
    transition: 0.3s ease-in;
 }
 .outline-button:hover {
    color : #fff;
    background : $red-hover;
 }

 .inline-button {
    background : $red;
    color : #fff;
    padding : 0 1.5rem 0 1.5rem;
    border : solid 1px $red;
    transition: 0.3s ease-in;
 }
 .inline-button:hover {
    color : #fff;
    background : $red-hover;
 }

 // Error-msg

 .error-msg {
    color : $grey;
    background: $light-grey;
    padding : 1rem 3rem 1rem 3rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
 }

 a {
   text-decoration: none;
}
 